<p-toast baseZIndex="100" />
<ba-sidebar />
<ba-page-top />
<div class="al-main">
  <div class="al-content">
    <ba-content-top />
    <router-outlet />
  </div>
</div>
<footer class="al-footer">
  <div class="al-footer-main" style="color: darkred">
    <div class="al-copy">&copy;
      <a style="color: darkred" href="http://www.limitbilgisayar.com.tr" target="#blank">Limit Bilgisayar</a> 2021
    </div>
    <ul class="al-share">
      <li>
        <a href="https://www.facebook.com/limitbilgisayar" target="#blank">
          <img src="/assets/icon/Facebook.svg" alt="Facebook" style="width: 20px; height: 20px">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/limityazilim" target="#blank">
          <img src="/assets/icon/Twitter.svg" alt="Twitter" style="width: 20px; height: 20px">
        </a>
      </li>
    </ul>
  </div>
</footer>
<ba-back-top position="200" />
