/*!_variable.scss*/

$font-family: Segoe UI,
Helvetica Neue,
Helvetica,
Lucida Grande,
Arial,
Ubuntu,
Cantarell,
Fira Sans,
sans-serif;

$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$top-height: 66px;
$sidebar-width: 190px;
